.gallery img {
    width: 100%;
    max-height: 600px;
}

.listItem {
    overflow: hidden;
    height: 180px;
    margin-bottom: 20px;
    border: 1px solid #c0c0c0;
    position: relative;
    box-shadow: -2px 1px 8px -3px rgba(0, 0, 0, 0.35);
}

.icons{
    position: absolute;
    top: 0;
    right:0;
    z-index: 101;
}
.icons a{
    display: block;
    background: #f2f2f2;
    font-size: 21px;
    padding: 3px 7px;
    margin-bottom: 3px;
    box-shadow: -2px 1px 5px -1px rgba(0,0,0,0.75);
}
.icons a:active{
    box-shadow: none;
}