<div class="col-md-2">
    <div class="col-md-6">
        <label>
            Show Random
        </label>
    </div>
    <!--<ui-switch class="order-switch" [(ngModel)]="showRandom" (change)="orderChange()"></ui-switch>-->
</div>

<div class="col-md-2">
    <button type="button" id="dLabel" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        add item <span class="caret"></span>
    </button>
    <ul class="dropdown-menu addItem multi-level" aria-labelledby="dLabel">
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#addImage">Image</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#addYoutube">Youtube</a></li>
        <li class="dropdown-submenu hidden">
            <a class="test" tabindex="-1" href="#">Facebook</a>
            <ul class="dropdown-menu addItem" aria-labelledby="dLabel">
                <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#addFacebookPost">Post</a>
                </li>
                <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#addFacebookVideo">Video</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="col-md-2">
    <button type="button" class="btn btn-info" (click)="playNext()">Play next</button>
</div>

<div class="col-md-2">

</div>

<div class="col-md-2">
    <div class="btn-group playlistOptions pull-right">
        Default duration: <input type="number" [(ngModel)]="defaultDuration" (focusout)="defaultDurationChange()"
                                 class="durationInput plDuration" min="1" max="600">s
    </div>
</div>
